/* ul li::before{
    content: " - ";
    background: red;
    color: white;
    display: block;
} */

p {
    font-size: 24px;
}

/* p::selection {
    background: yellow;
    color: rgb(203, 14, 14);
}

p::first-line {
    font-weight: bold;
    color: blue;
}

p::first-letter {
    font-size: 150px;
    color: red;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
} */



input::placeholder {
    color: rgb(186, 16, 221);
}