* {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}

table, th, tr{
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

tbody td {
    border: 1px solid black;
}