h1 {
    color: red;
    font-size: 200px;
}


img:hover {
    background-color: gold;
}

.bacon {
    background-color: green;

}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}


#heading {
    color: blue;
}

#titulo {
    font-size: 100px;
}